<div class="weather-item">
  <div class="weather-item-header">
    <div class="city">
      Saint-Petersburg
    </div>
    <div class="weather-item-logo">
      <img src="/assets/1.png" alt="logo">
    </div>
  </div>
  <div class="weather-item-temperature">
    -12
  </div>
  <div class="weather-item-info">
    <div class="weather-info-pressure">
      <div class="weather-text">Pressure</div>
      <div>1032</div>
    </div>
    <div class="weather-info-wind">
      <div class="weather-text">Wind</div>
      <div>7 m/s</div>
    </div>
    <div class="weather-info-precip">
      <div class="weather-text">Precip.</div>
      <div>32%</div>
    </div>
  </div>
</div>
